
body{
  width: 800px;
}

.rectangle{
  border: 2px solid black;
  height: 200px;
  width: 200px;
  margin: auto;
  background-color: green;
  text-align: center;
}

.lake{
  width: 300;
  background-color: blue;
  margin: auto;
  text-align: center;
  color: aliceblue;
}

.headerSpace{
  height: 10px;
}

input{
  text-align: right;
  width: 50px;
  height: 30px;
  font-size: larger;
  margin: auto;
}

.next p{
  font-size: 30px;
  font-weight: bold;
}
